.rounded-products:hover {
  text-decoration: underline;
  cursor: pointer;
  text-decoration: underline;
  color: goldenrod;
}

.rounded-products img {
  max-width: 200px;
  border-radius: 150px;
}

.rounded-products img:hover {
  cursor: pointer;
  border: 2px solid gray;
  text-decoration: underline;
}
